.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix


# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections

